@import url('https://fonts.googleapis.com/css?family=Open+Sans');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

        
        body {
            font-family: 'Open Sans', sans-serif;
            color: rgb(230, 54, 54);
            padding-bottom: 50px;
        }
