* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/assets/img/thumb-1920-85305.jpg);
    background-size: cover;
    position: relative;
    
}
.container {
    
    width: 360px;
    height:500px;
    background-color: white;
    border-radius: 7px;
    position: relative;
    margin: 8% auto;
    overflow: hidden;
    
    /* position: absolute;
    top: 0;
    right: 0; */
}
 
h3{
    text-align: center;
    margin-bottom: 40px;
}
.container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 1s;
}
form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent ;
}
.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button {
    width: 110px;
    height: 35px;
    border-radius: 50px;
    margin: 0 10px;
    background:linear-gradient(to right,#DFA3FF,#B429FF) ;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}
#form2 {
    left:450px ;
}
#form3 {
    left:450px ;
}
.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px black;
    position: relative;
}
.step-col {
    width: 120px;
    text-align: center;
    position: relative;

}
#progress {
    position: absolute;
    width: 120px;
    height: 100%;
    background:linear-gradient(to right,#DFA3FF,#B429FF) ;
    transition:0.5s ;
}
#progress::after {
    content:'' ;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position:absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #B429FF;

}
